* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body{
    background: #8d7c65;
}

/* Hide the images by default */
.mySlides {
  display: none;
  cursor: pointer;
}

img{
    width: 100%;
    height: 300px;
    object-fit: contain;
    margin: 0 auto;
    display: block;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 99;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  top: -70px;
  width: 100%;
  text-align: center;

}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

header{
  padding: 50px;
}

.btn-custom{
  background-color: transparent;
  width: 40px;
  height: 32px;
  box-shadow: none;
  border: none;
  cursor: pointer;
}

.btn-custom .line{
  position: relative;
  display: block;
  border-top: 2px solid #fff;
  border-radius: 3px;
}

.btn-custom .line:first-child{top: -5px;}
.btn-custom .line:last-child{bottom: -5px;}

.modal{
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  opacity: 0;
  transition: .3s ease;
}

.modal.open{
  visibility: visible;
  opacity: 1;
}

.modal .bg{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0,0,0,0.8);
}

.modal .content{
  position: absolute;
  display: flex;
  gap: 5px;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #000;
  height: 100%;
  max-height: 500px;
}

.modal img{
  width: 100%;
  height: 100%;
  max-width: 500px;
  object-fit: contain;
}

.modal .context{
  height: 100%;
  max-height: 500px;
  overflow-y: auto;
  background-color: #ffff;
  padding: 30;
  width: 100%;
  min-width: 300px;
  padding: 21px;
}

.context .title{
  font-size: 22px;
}

.context .cat{
  color: rgb(193, 186, 186);
  text-decoration: underline;
}

.context .desc{
  margin-top: 30px;
}

.modal .clone{
  position: absolute;
  z-index: 8;
  right: 40px;
  top: 40px;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
}


.modal-menu{
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  opacity: 0;
  transition: .3s ease;
}

.modal-menu.open{
  visibility: visible;
  opacity: 1;
}

.modal-menu.open .nav-menu{ 
  transform: translateX(0);
}

.modal-menu .bg{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0,0,0,0.8);
}

.modal-menu .nav-menu{
  position: relative;
  z-index: 999;
  width: 100%;
  max-width: 400px;
  height: 100vh;
  padding: 30;
  width: 100%;
  min-width: 300px;
  padding: 21px;
  background-color: #fff;
  transform: translateX(-100%);
  transition: .3s ease;
}

.modal-menu .nav-menu .clone{
  position: absolute;
  right: 18px;
  cursor: pointer;
}

.modal-menu ul{
  list-style: none;
}

.modal-menu a{
  color: #000;
  text-decoration: none;
  transition: .3s ease;
}

.modal-menu a:hover{
  color: rgb(105, 92, 92);
}
